.container {
    background-color: #090a0a;
    background-color:#151516 !important; 
    text-align: center;
}
h1, h5, p {
    color: white;
    text-align: center;
}
.jumbotron {
    background-color: black !important;
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important; 
} 	

.icon {
    width: 10%;
    border-radius: 20%;
    margin-bottom: 1.2rem;
}

.carousel-inner img {
    width: 25%;
    height: 25%;
    margin-bottom: 1.2rem
}

@media only screen and (max-width: 480px) {
    .carousel-inner img {
        width: 40%;
        height: 40%;
        margin-bottom: 1.2rem
    }
}



.appstore {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important; 
}

.carousel-indicators {
    opacity: 0;
}

.links {
    color: white;
}

.links {
    width: 15%;
}
